alias quit='osascript -e "do shell script \"osascript -e \\\"tell application \\\\\\\"Terminal\\\\\\\" to quit\\\" &> /dev/null &\""; exit'

alias tj='ssh tj'

alias dockerrun='sudo open /Applications/Docker.app'

function remove_recursive() {
  find . -name $1 -type f -print -delete
}
alias rmr=remove_recursive

sshcode() {
  command sshcode --ssh-flags '-o "ControlPath=/tmp/test" -o "ControlMaster=auto" -o "ControlPersist=5m"' "$@"
}

alias vscode='code-server --cert=$HOME/quantum/cdr/MyCertificate.crt --cert-key=$HOME/quantum/cdr/MyKey.key'
