aliases/* linguist-language=Shell
envvars/* linguist-language=Shell
prompt/* linguist-language=Shell
aliases.sh linguist-language=Shell
envvars.sh linguist-language=Shell
prompt.sh linguist-language=Shell
