"*":
  "atom-beautify":
    executables:
      autopep8:
        path: "/usr/local/bin/autopep8"
  core:
    disabledPackages: [
      "language-csharp"
      "language-clojure"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-ruby-on-rails"
      "metrics"
    ]
    telemetryConsent: "no"
    useTreeSitterParsers: false
  editor:
    fontFamily: "JetBrainsMono Nerd Font, Menlo, Consolas, DejaVu Sans Mono, monospace"
  "exception-reporting":
    userId: "e140f44a-d67e-4347-a589-2e45a72201ee"
  fonts:
    fontFamily: "JetBrains Mono"
    secondaryFonts: "FiraCode"
  "ide-python":
    pylsPlugins:
      jedi_definition:
        follow_builtin_imports: true
        follow_imports: true
      pydocstyle:
        convention: "numpy"
    python: "$HOME/dotprophet/atom/venv/bin/python"
  kite:
    showWelcomeNotificationOnStartup: false
  linter: {}
  "linter-ui-default":
    panelHeight: 300
    showPanel: true
  "markdown-preview": {}
  welcome:
    showOnStartup: false
